<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sidebar/style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/space/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sidebar/style.css') }}">

    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>  


    
    <!--<title>Dashboard Sidebar Menu</title>--> 

</head>

{%block bodystyle%}
<style>
    body{
        height: 100vh;
        width: 100%;
       
        background: url('../../static/assets/space.gif');
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        
    }
</style>
{%endblock%}

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">

                <div class="text logo-text">
                    <span class="name">CTF4Beginners</span>
                    <span class="profession">Injection Based</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <!-- <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search..."> -->
                    <a href="#">
                        <i class='bx bx-search icon' ></i>
                        <span class="text nav-text">Get a Hint!</span>
                    </a>
                </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 1</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 2</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 3</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">

                <li class=""> 
                    <a href="http://localhost:5000/"> 
                        <i class='bx bx-log-out icon' ></i> 
                        <span class="text nav-text">Back to Main</span> 
                    </a> 
                </li> 
                
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">        
        
        <div class="container">
            {%block title%}<div id="header">Serial Decoder and Encoder</div>{%endblock%}
            {%block header%}<h4 style="color: aliceblue;">Input serialized data to decode or encode data!</h4>{%endblock%}
    
            <div class="box-container">
                <form method="post">
                    <div class="box">
        
                        {%block name%}<div style="font-size: 20px;margin: 10px;color: black;">Encoder</div>{%endblock%}
        
                        {%block output%}<h3 style="overflow-wrap: anywhere;">{{ encoded }}</h3>{%endblock%}
            
                        {%block hint%}<input class="input-field" name="input"><br><br>{%endblock%}
                        {%block button%}<input class="button" type="submit" value="Submit"><br><br>{%endblock%}
                        <input value = "encode" type="hidden" name="function">
            
                    </div>
                </form>
    
                {%block form%}<form method="post">
                    <div class="box">
        
                        <div style="font-size: 20px;margin: 10px;color: black;">Decoder</div>
        
                        <h3 style="overflow-wrap: anywhere;">{{ decoded }}</h3>
            
                        <input class="input-field" name="input"><br><br>
                        <input class="button" type="submit" value="Submit"><br><br>
                        <input value = "decode" type="hidden" name="function">
        
        
                    </div>
                </form> {%endblock%}
            </div>

        </div>
    

    </section>



</body>
</html>
