/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
	background-image: url('../../assets/woodbg.jpeg');
	
}


#container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-rows: 200px 500px 200px;
	/* grid-template-columns: 1fr 100px ; */

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

	align-items: center;
    justify-content: center;
	
	overflow-x: hidden;

}

.filler {
	grid-column-start:2;
    grid-column-end:3;
	visibility: hidden

}

#header {
    grid-column-start:1;
    grid-column-end:2;
    color: white;
    font-size: 38px;

	text-align: center;


}

#footer {
    grid-row-start:2;
    grid-row-end:3;
    
    visibility: hidden

}

.content {
	display: flex;

	align-items: center;
    justify-content: center;
}


#box {
    width: 400px;
	height: 600px;

    background-color: white;
    border-radius: 18px;

	overflow: hidden;

    text-align: center;
	position: relative;


}

/* 
span {
	color: black;
} */

.text{

	margin-top: 5px;
	border-radius: 100px;
	padding: 15px 15px;
	/* border: 1px solid #c6c6c6; */
	width: 85%;

}

.button{

	margin-top: 5px;
	border-radius: 100px;
	background-color:darkolivegreen;
	padding: 15px 15px;
	/* border: 1px solid #c6c6c6; */
	width: 95%;
	color: white;

	font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* #helpbar {

	display: grid;


	grid-template-columns: 50px 1fr;

    width: 400px;
	height: 500px;

    background-color: transparent;
	opacity: 0.7;
    border-radius: 18px;

	margin-left: 0px;

    text-align: center;

}

#helpbar .textbox {

	width: 100%;
	height: 100%;

    background-color: white;
    border-radius: 18px;
	
	grid-column-start:2 ;
    grid-column-end:3 ;

	transition: 0.5s;


}

#helpbar .text {

	margin: 0;
	text-align: center;
	color: solid black;

	border-color: transparent;


}


#helpbar .toggle {

	grid-column-start:1 ;
    grid-column-end:3 ;

	appearance: none;
	width: 40px;
	height: 40px;
	position: absolute;

	margin-left: 30px;

	bottom: 50%;
	


}

.toggle::before{
	content: '\f054';
	color: grey;
	font-family: fontAwesome;
    font-size: 18px;

	background-color: white;
	border: 5px solid grey;

	border-radius: 50%;

	width: 100%;
	height: 100%;

	line-height: 30px;
	text-align: center;

	display:grid;
	place-items: center;

	margin-left: 0;
	
	transition: 0.5s;
} 

.toggle:checked::before {
	content: '\f053';
	margin-left: 280px;

}

.toggle:checked ~ .textbox {
	margin-left: 280px;

}

 */

