body {
    margin: 0;
    background-color:wheat;
    
}


#container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-rows: 100px repeat(3, 50px 1fr) 100px;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;

}

/* #container div {
    padding: 10px;
    border: 1px solid #000000;
} */

#header {
    grid-column-start:1 ;
    grid-column-end:2 ;
    color: black;
    font-size: 38px;

}

#footer {
    grid-column-start:1 ;
    grid-column-end:2 ;
    
    visibility: hidden

}

.subheader {
    grid-column-start:1 ;
    grid-column-end:2 ;
    color: black;
    font-size: 25px;

}

.content {
    display: grid;
    grid-template-columns: repeat(3, 350px);

    gap: 10px;

}

.content a {
    color: black;
    text-decoration: none; 

}

.card {
    display: grid;
    width: 300px;
    grid-template-rows: 150px 50px;
    grid-template-areas: "image" "text";

    background-color: white;
    border-radius: 18px;

    text-align: center;

}

.card:hover {
    transform: scale(1.05);
}

.card .img {
    grid-area: image;

    background: url("../assets/easy.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card .text {
    grid-area: text;
    margin: 10px;
}