<!DOCTYPE html>
<html>
<head>
	<title>Main Website</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
	<script src="{{ url_for('static', filename='login.js') }}"></script>  


	<link href="{{ url_for('static', filename='stylesheets/naturetheme/loginpage.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<style>
  	.error{
    	color: red;
		font-size: 18px;
        font-style: italic;
		left: 0;
		padding-top: 10px;
		padding-bottom: 10px;    
    }
  </style>

<body>
	<div id="container">
		<div id="header">Company Name</div>

		<div class="filler">.</div>

		<div class="content">
			<div id="box">

				<br><br>
				<div style="font-size: 20px;color: black;">Login</div>

				<form method="post" id="login">
					
					<br> 

					<span>Username</span>
					<input class="text" type="text" name="user_name">

					<br><br>

					<!--- Please remember to remove print check for password --->
					<span>Password</span>
					<input class="text" type="password" name="password">

					<br><br>

					<input class="button" type="submit" value="Login">


					<br>

					<div class="error">{{ error }}</div>

					<a href="signup" style="font-size: 20px;">Sign Up</a>


				</form>
			
		
			</div>
		</div>

		<div id="helpbar">
			<input type="checkbox" class="toggle">
			<div class="textbox">
				<div class="text">
					Hint: How do you alter the conditions of the query to be true?
					<br><br>
					<span style="color: red;">{{ query }}</span>
				</div>
			</div>
		</div>


		<div id="footer">.</div>
	</div>

	
</body>
</html>