<!DOCTYPE html>
<html>
<head>
	<title>My website</title>
	<link href="{{ url_for('static', filename='stylesheets/nature/homepage.css') }}" rel="stylesheet">
	
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script> 
     
    <script src="{{ url_for('static', filename='scripts/hints.js') }}"></script>  
    <script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sidebar/style.css') }}">

    {%block meta%}{%endblock%}

</head>
<body>

	<nav class="sidebar close">
        <header>
            <div class="image-text">

                <div class="text logo-text">
                    <span class="name">CTF4Beginners</span>
                    <span class="profession">XSS Based</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <!-- <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search..."> -->
                    <a class="hint-btn">
                        <i class='bx bx-search icon' ></i>
                        <span class="text nav-text">Get a Hint!</span>
                    </a>
                </li>

                    <li class="nav-link" id="hint-1">
                        <a data-modal="modal-1" class="modal-open">      
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 1</span>
                        </a>
                    </li>

                    <li class="nav-link" id="hint-2">
                        <a data-modal="modal-2" class="modal-open">      
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 2</span>
                        </a>
                    </li>

                    <li class="nav-link" id="hint-3">
                        <a data-modal="modal-3" class="modal-open">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 3</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">

                <li class=""> 
                    <a href="http://localhost:5000/"> 
                        <i class='bx bx-log-out icon' ></i> 
                        <span class="text nav-text">Back to Main</span> 
                    </a> 
                </li> 

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <div class="container">
		<div class="header">
            {%block title%}<div id="header">Hello, {{ username }}</div>{%endblock%}
            <form method="post">
                <input type="hidden" name="user_name" value="{{ username }}">
                <input class="button reload" name="refresh" type="submit" value="Reload"><br><br>
            </form>
        </div>

		<form method="post">
			<div class="box">

				{%block subheader%}<div style="font-size: 20px;margin: 10px;color: black;">Submit user description</div>{%endblock%}

				{%block output%}<h3>{{ desc|safe }}</h3>{%endblock%}

                {%block flag%}<h3>{{ flag }}</h3> {%endblock%}

				{%block hidden%}<input type="hidden" name="user_name" value="{{ username }}">{%endblock%}

				<input class="input-field" name="desc"><br><br>
				<input class="button" type="submit" value="Submit"><br><br>

				{%block logout%}<a href="logout">Logout</a>{%endblock%}

			</div>
		</form>
	</div>

    {%block modals%} 
	<div class="modal-bg" id="modal-1" data-backdrop="static" >
        <div class="modal-content">
            <div class="modal-header">
                <button class="icon modal-close"><i class="material-icons" style="font-size: 16px;">close</i></button>
                <h2>Hint 1</h2> 
            </div>
            <div class="modal-body">
                {%block hint1%}<h3>Wonder if there are any hidden values?</h3>{%endblock%}
            </div>
        </div>
    </div>

    <div class="modal-bg" id="modal-2" data-backdrop="static">
        <div class="modal-content">
            <div class="modal-header">
                <button class="icon modal-close"><i class="material-icons" style="font-size: 16px;">close</i></button>
                <h2>Hint 2</h2>
            </div>
            <div class="modal-body">
                {%block hint2%}<h3>All according to scripts.</h3>{%endblock%}
            </div>
        </div>
    </div>

    <div class="modal-bg" id="modal-3" data-backdrop="static">
        <div class="modal-content">
            <div class="modal-header"> 
                <button class="icon modal-close"><i class="material-icons" style="font-size: 16px;">close</i></button>
                <h2>Hint 3</h2>
            </div>
            <div class="modal-body">
                {%block hint3%}<h3>Have you heard of ngrok and netcat?</h3>{%endblock%}
            </div>
        </div>
    </div>    
    {%endblock%} 
	
</body>
</html>