@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}


/* Dialog Box */
.container {

    padding-top: 5%;

    width: 100vw;
    height: 100vh;
    
    display: grid;

    grid-template-rows: 150px;
    /* grid-template-columns: 50% 50%; */


    justify-items: center;
    text-align: center;
    
}

.container #header {
    text-align: center;
    margin: 20px;
    grid-row-start:1;
    grid-row-end:2;
    color: white;
    font-size: 38px;

}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

.box {
    width: 500px;
	height: 400px;

    background-color: white;
	opacity: 0.9;
    border-radius: 18px;
    align-items: center;
	position: relative;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

	overflow: hidden;

    

}

.box .input-field {

    height: 100px;
    width: 90%;
    margin-top: 5px;
    border-radius: 300px;
    border-width: 50px;
    padding: 15px 15px;
    border: 1px solid black;

    /* overflow-wrap: break-word;
    inline-size: 90%; */
    margin-left: auto;
    margin-right: auto; 

}



.box .button {

    margin-top: 5px;
    border-radius: 150px;
    padding: 15px 15px;
    background:cadetblue;
    border: transparent;
    margin-left: auto;
    margin-right: auto; 

    color:white;
    font-size: 18px;
    width: 90%;

    
}
