/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    background: url('../../assets/plantbg.jpeg');
}


.container {

    width: 100vw;
    height: 100vh;
    
    display: grid;

    grid-template-rows: 100px 1fr;

    justify-items: center;
    text-align: center;
    
}

#header {
    margin: 20px;
    grid-column-start:1 ;
    grid-column-end:2 ;
    color: white;
    font-size: 38px;

}

.box {
    width: 400px;
	height: 500px;

    background-color: white;
	opacity: 0.7;
    border-radius: 18px;

	overflow: hidden;

    text-align: center;
	position: relative;

}

.input-field {

    margin-top: 5px;
    border-radius: 150px;
    padding: 15px 15px;
    border: 1px solid black;
    width: 80%;

}


.button {

    margin-top: 5px;
    border-radius: 150px;
    padding: 15px 15px;
    background:cadetblue;
    border: transparent;

    color:white;
    font-size: 18px;
    width: 90%;

    
}