<!DOCTYPE html>
<html>
<head>
	<title>My website</title>
	<link href="{{ url_for('static', filename='stylesheets/sunset/style.css') }}" rel="stylesheet">

	
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>  

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sidebar/style.css') }}">
    <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-eval' 'https://cdnjs.cloudflare.com';">


</head>
<body>

	<nav class="sidebar close">
        <header>
            <div class="image-text">

                <div class="text logo-text">
                    <span class="name">CTF4Beginners</span>
                    <span class="profession">XSS Based</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <!-- <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search..."> -->
                    <a href="#">
                        <i class='bx bx-search icon' ></i>
                        <span class="text nav-text">Get a Hint!</span>
                    </a>
                </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 1</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 2</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Hint 3</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">

                <li class=""> 
                    <a href="http://localhost:5000/"> 
                        <i class='bx bx-log-out icon' ></i> 
                        <span class="text nav-text">Back to Main</span> 
                    </a> 
                </li> 

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">   
        <div class="container">
            <div id="header">Notetaker v4000</div>

            <form method="post">
                <div class="box">
                    <table class="table" border="1">
                        <tr>
                            <td>Entry</td>
                            <td>Notes</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <br>
                                I have been trying to journal my thoughts but I can't seem to remember what to write...
                                <br><br>
                            </td>
                        
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <br>
                                I feel like my head is in the clouds.
                                <br><br>
                            </td>
                        
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <br>
                                I need more thoughts!!

                                <br><br>
                            </td>
                        
                        </tr>
                        {%block notes%}{{notes|safe}}{%endblock%}
                    </table>
    
                        <textarea name="form" rows=5 cols=135></textarea><br><br>
                        <input class="button" type="submit" value="Submit"><br><br>
    
                </div>
            </form>
           
            
        </div>
    </section>

	
</body>
</html>