{% extends "agency/login.html" %}

{% block notes %} <!-- [Add note] --> {% endblock %}

{% block error %} {{ error }} {%endblock%}

{%block username%}<input class="text" type="text" name="username" value="{{ username }}"/>{%endblock%}

{%block password%}<input class="text" type="password" name="password" value="{{ password }}"/>{%endblock%}

{%block hint1%}<h4>Another chance to write a script!</h4>{%endblock%}
{%block hint2%}<h4>This time it's not relational.</h4>{%endblock%}
{%block hint3%}<h4>Mongo mango same thing.</h4>{%endblock%}