{% extends "space/base.html" %}

{%block title%}<div id="header" style="color: brown;">Restricted Access!</div>{%endblock%}
{%block header%}<h4 style="color: aliceblue;">Unauthorized personnel cannot view personnel info!</h4>{%endblock%}
   
        
{%block name%}<div style="font-size: 20px;margin: 10px;color: black;">Database</div>{%endblock%}
{%block hint%}<input class="input-field" name="input" placeholder="Mary Jane"><br><br>{%endblock%}
        
{%block output%}<h3>{{ output }}</h3>{%endblock%}

{%block form%} {%endblock%}

{%block hint1%}
    <img style="max-width:100%;max-height:100%;" src="../../static/assets/XMLexample.png">
{%endblock%}
{%block hint2%}<h3>X marks the path!</h3>{%endblock%}
{%block hint3%}<h3>Gotta write another script.</h3>{%endblock%}
